# Getting Started in Polars
---
**Alier Reng**

**Date: 2024-04-20**

# Motivation
I've always been intrigued by the streamlined syntax and speed of the `Polars` library. However, my initial experience with it was challenging. I tried to clean and manipulate data with `Polars`, but I struggled to import the data correctly due to the required `null_values` argument in the import functions. This left me feeling discouraged, and I gave up. But I didn't lose hope and kept trying. Finally, I succeeded in creating a tutorial on the basics of the `Polars` library in May 2023, which I updated on April 20, 2024. This tutorial is my way of sharing my knowledge with those interested in learning about the `Polars` package. [That tutorial can be found here](https://github.com/tongakuot/python_tutorials/tree/main/Data%20Wrangling%20with%20Polars)

This tutorial is the first of my **Learning the Polars Library the Right Way** series, which will be published on medium.com and later on alierwaidatastudio.com.

# Getting Started
First, I will import necessary libraries, read South Sudan's 2008 census data, and then showcase how to clean and transform this dataset with the `polar` library.

As a bonus, I will demonstrate how to plot the data with the `lets-plot` Python library derived from `ggplto2` and tabulate data with the `great_tables` Python package, a Python version of the `R gt` package. My goal is to walk my readers through, step by step, from loading packages to data import data to data wrangling, visualization, and tabulation. I will conclude with a comprehensive summary.

## Loading the Required Libraries
Here, I will load `polars` and `great_tables`.

In [1]:
# Libraries -------
import polars as pl
import polars.selectors as cs 
from great_tables import GT, md, html, style, loc

# pl.__version__

## Importing Data

In [2]:
# Load the dataset
census_raw = pl.read_csv(
    'data/ss_2008_census_data_raw.csv', 
    null_values='NA'
)

# Inspect the first 5 rows
print(census_raw.head(5))

shape: (5, 10)
┌────────┬─────────────┬───────────────────┬──────────┬───┬──────────┬───────┬─────────┬────────┐
│ Region ┆ Region Name ┆ Region - RegionId ┆ Variable ┆ … ┆ Age Name ┆ Scale ┆ Units   ┆ 2008   │
│ ---    ┆ ---         ┆ ---               ┆ ---      ┆   ┆ ---      ┆ ---   ┆ ---     ┆ ---    │
│ str    ┆ str         ┆ str               ┆ str      ┆   ┆ str      ┆ str   ┆ str     ┆ i64    │
╞════════╪═════════════╪═══════════════════╪══════════╪═══╪══════════╪═══════╪═════════╪════════╡
│ KN.A2  ┆ Upper Nile  ┆ SS-NU             ┆ KN.B2    ┆ … ┆ Total    ┆ units ┆ Persons ┆ 964353 │
│ KN.A2  ┆ Upper Nile  ┆ SS-NU             ┆ KN.B2    ┆ … ┆ 0 to 4   ┆ units ┆ Persons ┆ 150872 │
│ KN.A2  ┆ Upper Nile  ┆ SS-NU             ┆ KN.B2    ┆ … ┆ 5 to 9   ┆ units ┆ Persons ┆ 151467 │
│ KN.A2  ┆ Upper Nile  ┆ SS-NU             ┆ KN.B2    ┆ … ┆ 10 to 14 ┆ units ┆ Persons ┆ 126140 │
│ KN.A2  ┆ Upper Nile  ┆ SS-NU             ┆ KN.B2    ┆ … ┆ 15 to 19 ┆ units ┆ Persons ┆ 103804 │
└────────┴─────────────┴───────────────────┴──────────┴───┴──────────┴───────┴─────────┴────────┘

## Importing the Data Lazily

In [3]:
# Load the dataset lazily
census_lazy = pl.scan_csv(
    'data/ss_2008_census_data_raw.csv', 
    null_values='NA'
)

# Inspect the first 5 rows
print(census_lazy.collect().head(5))

shape: (5, 10)
┌────────┬─────────────┬───────────────────┬──────────┬───┬──────────┬───────┬─────────┬────────┐
│ Region ┆ Region Name ┆ Region - RegionId ┆ Variable ┆ … ┆ Age Name ┆ Scale ┆ Units   ┆ 2008   │
│ ---    ┆ ---         ┆ ---               ┆ ---      ┆   ┆ ---      ┆ ---   ┆ ---     ┆ ---    │
│ str    ┆ str         ┆ str               ┆ str      ┆   ┆ str      ┆ str   ┆ str     ┆ i64    │
╞════════╪═════════════╪═══════════════════╪══════════╪═══╪══════════╪═══════╪═════════╪════════╡
│ KN.A2  ┆ Upper Nile  ┆ SS-NU             ┆ KN.B2    ┆ … ┆ Total    ┆ units ┆ Persons ┆ 964353 │
│ KN.A2  ┆ Upper Nile  ┆ SS-NU             ┆ KN.B2    ┆ … ┆ 0 to 4   ┆ units ┆ Persons ┆ 150872 │
│ KN.A2  ┆ Upper Nile  ┆ SS-NU             ┆ KN.B2    ┆ … ┆ 5 to 9   ┆ units ┆ Persons ┆ 151467 │
│ KN.A2  ┆ Upper Nile  ┆ SS-NU             ┆ KN.B2    ┆ … ┆ 10 to 14 ┆ units ┆ Persons ┆ 126140 │
│ KN.A2  ┆ Upper Nile  ┆ SS-NU             ┆ KN.B2    ┆ … ┆ 15 to 19 ┆ units ┆ Persons ┆ 103804 │
└────────┴─────────────┴───────────────────┴──────────┴───┴──────────┴───────┴─────────┴────────┘

In [4]:
# Inspect the last 5 rows
print(census_raw.tail(5))

shape: (5, 10)
┌───────────────┬────────────────────┬──────────┬──────────┬───┬──────────┬───────┬─────────┬──────┐
│ Region        ┆ Region Name        ┆ Region - ┆ Variable ┆ … ┆ Age Name ┆ Scale ┆ Units   ┆ 2008 │
│ ---           ┆ ---                ┆ RegionId ┆ ---      ┆   ┆ ---      ┆ ---   ┆ ---     ┆ ---  │
│ str           ┆ str                ┆ ---      ┆ str      ┆   ┆ str      ┆ str   ┆ str     ┆ i64  │
│               ┆                    ┆ str      ┆          ┆   ┆          ┆       ┆         ┆      │
╞═══════════════╪════════════════════╪══════════╪══════════╪═══╪══════════╪═══════╪═════════╪══════╡
│ KN.A11        ┆ Eastern Equatoria  ┆ SS-EE    ┆ KN.B8    ┆ … ┆ 60 to 64 ┆ units ┆ Persons ┆ 5274 │
│ KN.A11        ┆ Eastern Equatoria  ┆ SS-EE    ┆ KN.B8    ┆ … ┆ 65+      ┆ units ┆ Persons ┆ 8637 │
│ null          ┆ null               ┆ null     ┆ null     ┆ … ┆ null     ┆ null  ┆ null    ┆ null │
│ Source:       ┆ National Bureau of ┆ null     ┆ null     ┆ … ┆ null     ┆ null  ┆ null    ┆ null │
│               ┆ Statistics,…       ┆          ┆          ┆   ┆          ┆       ┆         ┆      │
│ Download URL: ┆ http://southsudan. ┆ null     ┆ null     ┆ … ┆ null     ┆ null  ┆ null    ┆ null │
│               ┆ opendatafora…      ┆          ┆          ┆   ┆          ┆       ┆         ┆      │
└───────────────┴────────────────────┴──────────┴──────────┴───┴──────────┴───────┴─────────┴──────┘

In [5]:
# Pull out any column and inspect its values; 
# format the output with the list()
list(
    census_raw.get_column('Region Name')
    .tail()
)

['Eastern Equatoria',
 'Eastern Equatoria',
 'Eastern Equatoria',
 'Eastern Equatoria',
 'Eastern Equatoria',
 'Eastern Equatoria',
 'Eastern Equatoria',
 None,
 'National Bureau of Statistics, South Sudan',
 'http://southsudan.opendataforafrica.org/fvjqdpe/population-by-age-and-sex-2008-south-sudan']

In [6]:
# Pull out any column and inspect its values; 
# format the output with the list()
list(
    census_raw
    .get_column('Region Name')
    .unique()
    .sort()
)

[None,
 'Central Equatoria',
 'Eastern Equatoria',
 'Jonglei',
 'Lakes',
 'National Bureau of Statistics, South Sudan',
 'Northern Bahr el Ghazal',
 'Unity',
 'Upper Nile',
 'Warrap',
 'Western Bahr el Ghazal',
 'Western Equatoria',
 'http://southsudan.opendataforafrica.org/fvjqdpe/population-by-age-and-sex-2008-south-sudan']

In [7]:
# Inspect random 5 rows
print(census_raw.sample(5, seed=254, with_replacement=True))

shape: (5, 10)
┌────────┬─────────────┬───────────────────┬──────────┬───┬──────────┬───────┬─────────┬───────┐
│ Region ┆ Region Name ┆ Region - RegionId ┆ Variable ┆ … ┆ Age Name ┆ Scale ┆ Units   ┆ 2008  │
│ ---    ┆ ---         ┆ ---               ┆ ---      ┆   ┆ ---      ┆ ---   ┆ ---     ┆ ---   │
│ str    ┆ str         ┆ str               ┆ str      ┆   ┆ str      ┆ str   ┆ str     ┆ i64   │
╞════════╪═════════════╪═══════════════════╪══════════╪═══╪══════════╪═══════╪═════════╪═══════╡
│ KN.A11 ┆ Eastern     ┆ SS-EE             ┆ KN.B2    ┆ … ┆ 30 to 34 ┆ units ┆ Persons ┆ 57187 │
│        ┆ Equatoria   ┆                   ┆          ┆   ┆          ┆       ┆         ┆       │
│ KN.A8  ┆ Lakes       ┆ SS-LK             ┆ KN.B5    ┆ … ┆ 65+      ┆ units ┆ Persons ┆ 10100 │
│ KN.A9  ┆ Western     ┆ SS-EW             ┆ KN.B2    ┆ … ┆ 30 to 34 ┆ units ┆ Persons ┆ 42527 │
│        ┆ Equatoria   ┆                   ┆          ┆   ┆          ┆       ┆         ┆       │
│ KN.A10 ┆ Central     ┆ SS-EC             ┆ KN.B8    ┆ … ┆ 5 to 9   ┆ units ┆ Persons ┆ 77375 │
│        ┆ Equatoria   ┆                   ┆          ┆   ┆          ┆       ┆         ┆       │
│ KN.A9  ┆ Western     ┆ SS-EW             ┆ KN.B8    ┆ … ┆ 10 to 14 ┆ units ┆ Persons ┆ 33109 │
│        ┆ Equatoria   ┆                   ┆          ┆   ┆          ┆       ┆         ┆       │
└────────┴─────────────┴───────────────────┴──────────┴───┴──────────┴───────┴─────────┴───────┘

## Checking for Missing Values

In [8]:
# Inspect the dataset for missing values using .null_count()
print(census_raw.null_count())

shape: (1, 10)
┌────────┬─────────────┬───────────────────┬──────────┬───┬──────────┬───────┬───────┬──────┐
│ Region ┆ Region Name ┆ Region - RegionId ┆ Variable ┆ … ┆ Age Name ┆ Scale ┆ Units ┆ 2008 │
│ ---    ┆ ---         ┆ ---               ┆ ---      ┆   ┆ ---      ┆ ---   ┆ ---   ┆ ---  │
│ u32    ┆ u32         ┆ u32               ┆ u32      ┆   ┆ u32      ┆ u32   ┆ u32   ┆ u32  │
╞════════╪═════════════╪═══════════════════╪══════════╪═══╪══════════╪═══════╪═══════╪══════╡
│ 1      ┆ 1           ┆ 3                 ┆ 3        ┆ … ┆ 3        ┆ 3     ┆ 3     ┆ 3    │
└────────┴─────────────┴───────────────────┴──────────┴───┴──────────┴───────┴───────┴──────┘

In [9]:
# Inspect the dataset for missing values with the help of the polars selectors
print(
    census_raw
    .select(cs.all().is_null().sum())
)

shape: (1, 10)
┌────────┬─────────────┬───────────────────┬──────────┬───┬──────────┬───────┬───────┬──────┐
│ Region ┆ Region Name ┆ Region - RegionId ┆ Variable ┆ … ┆ Age Name ┆ Scale ┆ Units ┆ 2008 │
│ ---    ┆ ---         ┆ ---               ┆ ---      ┆   ┆ ---      ┆ ---   ┆ ---   ┆ ---  │
│ u32    ┆ u32         ┆ u32               ┆ u32      ┆   ┆ u32      ┆ u32   ┆ u32   ┆ u32  │
╞════════╪═════════════╪═══════════════════╪══════════╪═══╪══════════╪═══════╪═══════╪══════╡
│ 1      ┆ 1           ┆ 3                 ┆ 3        ┆ … ┆ 3        ┆ 3     ┆ 3     ┆ 3    │
└────────┴─────────────┴───────────────────┴──────────┴───┴──────────┴───────┴───────┴──────┘

## Selecting Columns of Interest

In [10]:
# Selecting columns of interest: 
# polars provides various methods for selecting columns
print(
    census_raw
    .select(cs.ends_with('Name'), '2008')
    .columns
)

['Region Name', 'Variable Name', 'Age Name', '2008']

In [11]:
# Selecting multiple columns - pass in a list of column names
print(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
)

shape: (453, 4)
┌─────────────────────────────────┬─────────────────────────────┬──────────┬────────┐
│ Region Name                     ┆ Variable Name               ┆ Age Name ┆ 2008   │
│ ---                             ┆ ---                         ┆ ---      ┆ ---    │
│ str                             ┆ str                         ┆ str      ┆ i64    │
╞═════════════════════════════════╪═════════════════════════════╪══════════╪════════╡
│ Upper Nile                      ┆ Population, Total (Number)  ┆ Total    ┆ 964353 │
│ Upper Nile                      ┆ Population, Total (Number)  ┆ 0 to 4   ┆ 150872 │
│ Upper Nile                      ┆ Population, Total (Number)  ┆ 5 to 9   ┆ 151467 │
│ Upper Nile                      ┆ Population, Total (Number)  ┆ 10 to 14 ┆ 126140 │
│ Upper Nile                      ┆ Population, Total (Number)  ┆ 15 to 19 ┆ 103804 │
│ …                               ┆ …                           ┆ …        ┆ …      │
│ Eastern Equatoria               ┆ Population, Female (Number) ┆ 60 to 64 ┆ 5274   │
│ Eastern Equatoria               ┆ Population, Female (Number) ┆ 65+      ┆ 8637   │
│ null                            ┆ null                        ┆ null     ┆ null   │
│ National Bureau of Statistics,… ┆ null                        ┆ null     ┆ null   │
│ http://southsudan.opendatafora… ┆ null                        ┆ null     ┆ null   │
└─────────────────────────────────┴─────────────────────────────┴──────────┴────────┘

In [12]:
# Selecting multiple columns
print(
    census_raw
    .select('Region Name', 'Variable Name', 'Age Name', '2008')
)

shape: (453, 4)
┌─────────────────────────────────┬─────────────────────────────┬──────────┬────────┐
│ Region Name                     ┆ Variable Name               ┆ Age Name ┆ 2008   │
│ ---                             ┆ ---                         ┆ ---      ┆ ---    │
│ str                             ┆ str                         ┆ str      ┆ i64    │
╞═════════════════════════════════╪═════════════════════════════╪══════════╪════════╡
│ Upper Nile                      ┆ Population, Total (Number)  ┆ Total    ┆ 964353 │
│ Upper Nile                      ┆ Population, Total (Number)  ┆ 0 to 4   ┆ 150872 │
│ Upper Nile                      ┆ Population, Total (Number)  ┆ 5 to 9   ┆ 151467 │
│ Upper Nile                      ┆ Population, Total (Number)  ┆ 10 to 14 ┆ 126140 │
│ Upper Nile                      ┆ Population, Total (Number)  ┆ 15 to 19 ┆ 103804 │
│ …                               ┆ …                           ┆ …        ┆ …      │
│ Eastern Equatoria               ┆ Population, Female (Number) ┆ 60 to 64 ┆ 5274   │
│ Eastern Equatoria               ┆ Population, Female (Number) ┆ 65+      ┆ 8637   │
│ null                            ┆ null                        ┆ null     ┆ null   │
│ National Bureau of Statistics,… ┆ null                        ┆ null     ┆ null   │
│ http://southsudan.opendatafora… ┆ null                        ┆ null     ┆ null   │
└─────────────────────────────────┴─────────────────────────────┴──────────┴────────┘

# Handling String Data in Columns

In [13]:
# Splitting string column values
(
    census_raw
    .select(pl.col('Variable Name').str.split(' '))
    .head(5)
)

shape: (5, 1)
┌─────────────────────────────────┐
│ Variable Name                   │
│ ---                             │
│ list[str]                       │
╞═════════════════════════════════╡
│ ["Population,", "Total", "(Num… │
│ ["Population,", "Total", "(Num… │
│ ["Population,", "Total", "(Num… │
│ ["Population,", "Total", "(Num… │
│ ["Population,", "Total", "(Num… │
└─────────────────────────────────┘

In [14]:
# Next, we will keep only the middle piece
(
    census_raw
    .select(pl.col('Variable Name').str.split(' ').list.get(1))
    .head(5)
)

shape: (5, 1)
┌───────────────┐
│ Variable Name │
│ ---           │
│ str           │
╞═══════════════╡
│ Total         │
│ Total         │
│ Total         │
│ Total         │
│ Total         │
└───────────────┘

In [15]:
# Modifying a column in place; add a new column
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .with_columns(gender=pl.col('Variable Name').str.split(' ').list.get(1))
    .head(5)
)

shape: (5, 5)
┌─────────────┬────────────────────────────┬──────────┬────────┬────────┐
│ Region Name ┆ Variable Name              ┆ Age Name ┆ 2008   ┆ gender │
│ ---         ┆ ---                        ┆ ---      ┆ ---    ┆ ---    │
│ str         ┆ str                        ┆ str      ┆ i64    ┆ str    │
╞═════════════╪════════════════════════════╪══════════╪════════╪════════╡
│ Upper Nile  ┆ Population, Total (Number) ┆ Total    ┆ 964353 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 0 to 4   ┆ 150872 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 5 to 9   ┆ 151467 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 10 to 14 ┆ 126140 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 15 to 19 ┆ 103804 ┆ Total  │
└─────────────┴────────────────────────────┴──────────┴────────┴────────┘

In [16]:
# Using index access to get the desired element
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .with_columns(gender=pl.col('Variable Name').str.split(' ').list[1])
    .head(5)
)

shape: (5, 5)
┌─────────────┬────────────────────────────┬──────────┬────────┬────────┐
│ Region Name ┆ Variable Name              ┆ Age Name ┆ 2008   ┆ gender │
│ ---         ┆ ---                        ┆ ---      ┆ ---    ┆ ---    │
│ str         ┆ str                        ┆ str      ┆ i64    ┆ str    │
╞═════════════╪════════════════════════════╪══════════╪════════╪════════╡
│ Upper Nile  ┆ Population, Total (Number) ┆ Total    ┆ 964353 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 0 to 4   ┆ 150872 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 5 to 9   ┆ 151467 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 10 to 14 ┆ 126140 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 15 to 19 ┆ 103804 ┆ Total  │
└─────────────┴────────────────────────────┴──────────┴────────┴────────┘

## Replacing String Patterns

In [17]:
# Replacing a pattern with blank
(
    census_raw
    .select(pl.col('Variable Name').str.replace('Population,', ''))
    .head(5)
)

shape: (5, 1)
┌─────────────────┐
│ Variable Name   │
│ ---             │
│ str             │
╞═════════════════╡
│  Total (Number) │
│  Total (Number) │
│  Total (Number) │
│  Total (Number) │
│  Total (Number) │
└─────────────────┘

In [18]:
# Replacing a pattern with blank
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .with_columns(gender=pl.col('Variable Name').str.replace('Population,', ''))
    .with_columns(gender=pl.col('gender').str.replace('\\(Number\\)', ''))
    .head(5)
)

shape: (5, 5)
┌─────────────┬────────────────────────────┬──────────┬────────┬─────────┐
│ Region Name ┆ Variable Name              ┆ Age Name ┆ 2008   ┆ gender  │
│ ---         ┆ ---                        ┆ ---      ┆ ---    ┆ ---     │
│ str         ┆ str                        ┆ str      ┆ i64    ┆ str     │
╞═════════════╪════════════════════════════╪══════════╪════════╪═════════╡
│ Upper Nile  ┆ Population, Total (Number) ┆ Total    ┆ 964353 ┆  Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 0 to 4   ┆ 150872 ┆  Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 5 to 9   ┆ 151467 ┆  Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 10 to 14 ┆ 126140 ┆  Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 15 to 19 ┆ 103804 ┆  Total  │
└─────────────┴────────────────────────────┴──────────┴────────┴─────────┘

In [19]:
# Using str.strip to remove white spaces
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .with_columns(gender=pl.col('Variable Name').str.replace('Population,', ''))
    .with_columns(gender=pl.col('gender').str.replace('\\(Number\\)', ''))
    .with_columns(gender=pl.col('gender').str.strip_chars())
    .head(5)
)

shape: (5, 5)
┌─────────────┬────────────────────────────┬──────────┬────────┬────────┐
│ Region Name ┆ Variable Name              ┆ Age Name ┆ 2008   ┆ gender │
│ ---         ┆ ---                        ┆ ---      ┆ ---    ┆ ---    │
│ str         ┆ str                        ┆ str      ┆ i64    ┆ str    │
╞═════════════╪════════════════════════════╪══════════╪════════╪════════╡
│ Upper Nile  ┆ Population, Total (Number) ┆ Total    ┆ 964353 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 0 to 4   ┆ 150872 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 5 to 9   ┆ 151467 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 10 to 14 ┆ 126140 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 15 to 19 ┆ 103804 ┆ Total  │
└─────────────┴────────────────────────────┴──────────┴────────┴────────┘

In [20]:
# Using str.replace_many()
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .with_columns(
        gender=pl.col('Variable Name')
        .str.replace_many(['Population, ', ' (Number)'], '',)
    )
    .head()
)

shape: (5, 5)
┌─────────────┬────────────────────────────┬──────────┬────────┬────────┐
│ Region Name ┆ Variable Name              ┆ Age Name ┆ 2008   ┆ gender │
│ ---         ┆ ---                        ┆ ---      ┆ ---    ┆ ---    │
│ str         ┆ str                        ┆ str      ┆ i64    ┆ str    │
╞═════════════╪════════════════════════════╪══════════╪════════╪════════╡
│ Upper Nile  ┆ Population, Total (Number) ┆ Total    ┆ 964353 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 0 to 4   ┆ 150872 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 5 to 9   ┆ 151467 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 10 to 14 ┆ 126140 ┆ Total  │
│ Upper Nile  ┆ Population, Total (Number) ┆ 15 to 19 ┆ 103804 ┆ Total  │
└─────────────┴────────────────────────────┴──────────┴────────┴────────┘

In [21]:
# Modifying the Age Name column
old_cats = ['0 to 4', '5 to 9', '10 to 14', 
            '15 to 19', '20 to 24', 
            '25 to 29', '30 to 34', 
            '35 to 39', '40 to 44',
            '45 to 49', '50 to 54'
            '55 to 59', '60 to 64',
            '65+'
            ]
new_cats = ['0-14', '0-14', '0-14',
            '15-24', '15-24',
            '25-34', '25-34',
            '35-44', '35-44'
            '45-54', '45-54',
            '55-64', '55-64',
            '65 and above'
            ]

(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .with_columns(category=pl.col('Age Name').str.replace_many(old_cats, new_cats))
    .head(5)
)

shape: (5, 5)
┌─────────────┬────────────────────────────┬──────────┬────────┬──────────┐
│ Region Name ┆ Variable Name              ┆ Age Name ┆ 2008   ┆ category │
│ ---         ┆ ---                        ┆ ---      ┆ ---    ┆ ---      │
│ str         ┆ str                        ┆ str      ┆ i64    ┆ str      │
╞═════════════╪════════════════════════════╪══════════╪════════╪══════════╡
│ Upper Nile  ┆ Population, Total (Number) ┆ Total    ┆ 964353 ┆ Total    │
│ Upper Nile  ┆ Population, Total (Number) ┆ 0 to 4   ┆ 150872 ┆ 0-14     │
│ Upper Nile  ┆ Population, Total (Number) ┆ 5 to 9   ┆ 151467 ┆ 0-14     │
│ Upper Nile  ┆ Population, Total (Number) ┆ 10 to 14 ┆ 126140 ┆ 0-14     │
│ Upper Nile  ┆ Population, Total (Number) ┆ 15 to 19 ┆ 103804 ┆ 15-24    │
└─────────────┴────────────────────────────┴──────────┴────────┴──────────┘

In [22]:
# Using the .replace()
old_cats = ['0 to 4', '5 to 9', '10 to 14', 
            '15 to 19', '20 to 24', 
            '25 to 29', '30 to 34', 
            '35 to 39', '40 to 44',
            '45 to 49', '50 to 54',
            '55 to 59', '60 to 64',
            '65+'
            ]
new_cats = ['0-14', '0-14', '0-14',
            '15-24', '15-24',
            '25-34', '25-34',
            '35-44', '35-44',
            '45-54', '45-54',
            '55-64', '55-64',
            '65 and above'
            ]
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .with_columns(category=pl.col('Age Name').replace(old_cats, new_cats))
    .head(5)
)

shape: (5, 5)
┌─────────────┬────────────────────────────┬──────────┬────────┬──────────┐
│ Region Name ┆ Variable Name              ┆ Age Name ┆ 2008   ┆ category │
│ ---         ┆ ---                        ┆ ---      ┆ ---    ┆ ---      │
│ str         ┆ str                        ┆ str      ┆ i64    ┆ str      │
╞═════════════╪════════════════════════════╪══════════╪════════╪══════════╡
│ Upper Nile  ┆ Population, Total (Number) ┆ Total    ┆ 964353 ┆ Total    │
│ Upper Nile  ┆ Population, Total (Number) ┆ 0 to 4   ┆ 150872 ┆ 0-14     │
│ Upper Nile  ┆ Population, Total (Number) ┆ 5 to 9   ┆ 151467 ┆ 0-14     │
│ Upper Nile  ┆ Population, Total (Number) ┆ 10 to 14 ┆ 126140 ┆ 0-14     │
│ Upper Nile  ┆ Population, Total (Number) ┆ 15 to 19 ┆ 103804 ┆ 15-24    │
└─────────────┴────────────────────────────┴──────────┴────────┴──────────┘

In [23]:
# Using the dictionary
age_mapping = {
    '0 to 4': '0-14',
    '5 to 9': '0-14',
    '10 to 14': '0-14',
    '15 to 19': '15-24',
    '20 to 24': '15-24',
    '25 to 29': '25-34',
    '30 to 34': '25-34',
    '35 to 39': '35-44',
    '40 to 44': '35-44',
    '45 to 49': '45-54',
    '50 to 54': '45-54',
    '55 to 59': '55-64',
    '60 to 64': '55-64',
    '65+': '65 and above',
}
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .with_columns(category=pl.col("Age Name").replace(age_mapping))
    .head(5)
)

shape: (5, 5)
┌─────────────┬────────────────────────────┬──────────┬────────┬──────────┐
│ Region Name ┆ Variable Name              ┆ Age Name ┆ 2008   ┆ category │
│ ---         ┆ ---                        ┆ ---      ┆ ---    ┆ ---      │
│ str         ┆ str                        ┆ str      ┆ i64    ┆ str      │
╞═════════════╪════════════════════════════╪══════════╪════════╪══════════╡
│ Upper Nile  ┆ Population, Total (Number) ┆ Total    ┆ 964353 ┆ Total    │
│ Upper Nile  ┆ Population, Total (Number) ┆ 0 to 4   ┆ 150872 ┆ 0-14     │
│ Upper Nile  ┆ Population, Total (Number) ┆ 5 to 9   ┆ 151467 ┆ 0-14     │
│ Upper Nile  ┆ Population, Total (Number) ┆ 10 to 14 ┆ 126140 ┆ 0-14     │
│ Upper Nile  ┆ Population, Total (Number) ┆ 15 to 19 ┆ 103804 ┆ 15-24    │
└─────────────┴────────────────────────────┴──────────┴────────┴──────────┘

## Filtering: Selecting Rows

In [24]:
# Filtering data: removing unwanted rows
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .filter(pl.col('Age Name') == 'Total')
    .head(5)
)

shape: (5, 4)
┌─────────────┬─────────────────────────────┬──────────┬─────────┐
│ Region Name ┆ Variable Name               ┆ Age Name ┆ 2008    │
│ ---         ┆ ---                         ┆ ---      ┆ ---     │
│ str         ┆ str                         ┆ str      ┆ i64     │
╞═════════════╪═════════════════════════════╪══════════╪═════════╡
│ Upper Nile  ┆ Population, Total (Number)  ┆ Total    ┆ 964353  │
│ Upper Nile  ┆ Population, Male (Number)   ┆ Total    ┆ 525430  │
│ Upper Nile  ┆ Population, Female (Number) ┆ Total    ┆ 438923  │
│ Jonglei     ┆ Population, Total (Number)  ┆ Total    ┆ 1358602 │
│ Jonglei     ┆ Population, Male (Number)   ┆ Total    ┆ 734327  │
└─────────────┴─────────────────────────────┴──────────┴─────────┘

In [25]:
# Filtering data: removing unwanted rows
(
    census_raw
    .select(["Region Name", "Variable Name", "Age Name", "2008"])
    .filter(pl.col('Age Name') == 'Total')
    .sample(5)
)

shape: (5, 4)
┌────────────────────────┬─────────────────────────────┬──────────┬────────┐
│ Region Name            ┆ Variable Name               ┆ Age Name ┆ 2008   │
│ ---                    ┆ ---                         ┆ ---      ┆ ---    │
│ str                    ┆ str                         ┆ str      ┆ i64    │
╞════════════════════════╪═════════════════════════════╪══════════╪════════╡
│ Central Equatoria      ┆ Population, Female (Number) ┆ Total    ┆ 521835 │
│ Upper Nile             ┆ Population, Female (Number) ┆ Total    ┆ 438923 │
│ Upper Nile             ┆ Population, Male (Number)   ┆ Total    ┆ 525430 │
│ Western Bahr el Ghazal ┆ Population, Female (Number) ┆ Total    ┆ 156391 │
│ Western Equatoria      ┆ Population, Female (Number) ┆ Total    ┆ 300586 │
└────────────────────────┴─────────────────────────────┴──────────┴────────┘

In [26]:
# Multiple conditions
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .filter((pl.col('Age Name') == 'Total') | (pl.col('Variable Name') == 'Total'))
    .sample(n=5, seed=254)
)

shape: (5, 4)
┌───────────────────┬─────────────────────────────┬──────────┬─────────┐
│ Region Name       ┆ Variable Name               ┆ Age Name ┆ 2008    │
│ ---               ┆ ---                         ┆ ---      ┆ ---     │
│ str               ┆ str                         ┆ str      ┆ i64     │
╞═══════════════════╪═════════════════════════════╪══════════╪═════════╡
│ Western Equatoria ┆ Population, Female (Number) ┆ Total    ┆ 300586  │
│ Lakes             ┆ Population, Male (Number)   ┆ Total    ┆ 365880  │
│ Central Equatoria ┆ Population, Total (Number)  ┆ Total    ┆ 1103557 │
│ Western Equatoria ┆ Population, Male (Number)   ┆ Total    ┆ 318443  │
│ Warrap            ┆ Population, Female (Number) ┆ Total    ┆ 502194  │
└───────────────────┴─────────────────────────────┴──────────┴─────────┘

In [27]:
# Selecting desired rows
old_cats = ['0 to 4', '5 to 9', '10 to 14', 
            '15 to 19', '20 to 24', 
            '25 to 29', '30 to 34', 
            '35 to 39', '40 to 44',
            '45 to 49', '50 to 54',
            '55 to 59', '60 to 64',
            '65+'
            ]
new_cats = ['0-14', '0-14', '0-14',
            '15-24', '15-24',
            '25-34', '25-34',
            '35-44', '35-44',
            '45-54', '45-54',
            '55-64', '55-64',
            '65 and above'
            ]
print(
    census_raw
    .select(cs.ends_with('Name'), '2008')
    .with_columns(
        gender=pl.col('Variable Name').str.replace_many(['Population, ', ' (Number)'], '',),
        category=pl.col('Age Name').replace(old_cats, new_cats)
    )
    .select(pl.col('*').exclude(['Variable Name', 'Age Name']))
    .filter(~((pl.col('gender') == 'Total') | (pl.col('category') == 'Total')))
)

shape: (280, 4)
┌───────────────────┬───────┬────────┬──────────────┐
│ Region Name       ┆ 2008  ┆ gender ┆ category     │
│ ---               ┆ ---   ┆ ---    ┆ ---          │
│ str               ┆ i64   ┆ str    ┆ str          │
╞═══════════════════╪═══════╪════════╪══════════════╡
│ Upper Nile        ┆ 82690 ┆ Male   ┆ 0-14         │
│ Upper Nile        ┆ 83744 ┆ Male   ┆ 0-14         │
│ Upper Nile        ┆ 71027 ┆ Male   ┆ 0-14         │
│ Upper Nile        ┆ 57387 ┆ Male   ┆ 15-24        │
│ Upper Nile        ┆ 42521 ┆ Male   ┆ 15-24        │
│ …                 ┆ …     ┆ …      ┆ …            │
│ Eastern Equatoria ┆ 13727 ┆ Female ┆ 45-54        │
│ Eastern Equatoria ┆ 9482  ┆ Female ┆ 45-54        │
│ Eastern Equatoria ┆ 5740  ┆ Female ┆ 55-64        │
│ Eastern Equatoria ┆ 5274  ┆ Female ┆ 55-64        │
│ Eastern Equatoria ┆ 8637  ┆ Female ┆ 65 and above │
└───────────────────┴───────┴────────┴──────────────┘

In [28]:
# We could have accomplished the above this way
(
    census_raw
    .select(cs.ends_with('Name'), '2008')
    .with_columns(
        gender=pl.col('Variable Name').str.replace_many(['Population, ', ' (Number)'], '',),
        category=pl.col('Age Name').replace(old_cats, new_cats)
    )
    .select(pl.col('*').exclude(['Variable Name', 'Age Name']))
    .filter(((pl.col('gender') != 'Total') & (pl.col('category') != 'Total')))
    # .sample(n=5, seed=254)
)

shape: (280, 4)
┌───────────────────┬───────┬────────┬──────────────┐
│ Region Name       ┆ 2008  ┆ gender ┆ category     │
│ ---               ┆ ---   ┆ ---    ┆ ---          │
│ str               ┆ i64   ┆ str    ┆ str          │
╞═══════════════════╪═══════╪════════╪══════════════╡
│ Upper Nile        ┆ 82690 ┆ Male   ┆ 0-14         │
│ Upper Nile        ┆ 83744 ┆ Male   ┆ 0-14         │
│ Upper Nile        ┆ 71027 ┆ Male   ┆ 0-14         │
│ Upper Nile        ┆ 57387 ┆ Male   ┆ 15-24        │
│ Upper Nile        ┆ 42521 ┆ Male   ┆ 15-24        │
│ …                 ┆ …     ┆ …      ┆ …            │
│ Eastern Equatoria ┆ 13727 ┆ Female ┆ 45-54        │
│ Eastern Equatoria ┆ 9482  ┆ Female ┆ 45-54        │
│ Eastern Equatoria ┆ 5740  ┆ Female ┆ 55-64        │
│ Eastern Equatoria ┆ 5274  ┆ Female ┆ 55-64        │
│ Eastern Equatoria ┆ 8637  ┆ Female ┆ 65 and above │
└───────────────────┴───────┴────────┴──────────────┘

In [29]:
# Extracting rows with missing values
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .filter(pl.col('Age Name').is_null())
)

shape: (3, 4)
┌─────────────────────────────────┬───────────────┬──────────┬──────┐
│ Region Name                     ┆ Variable Name ┆ Age Name ┆ 2008 │
│ ---                             ┆ ---           ┆ ---      ┆ ---  │
│ str                             ┆ str           ┆ str      ┆ i64  │
╞═════════════════════════════════╪═══════════════╪══════════╪══════╡
│ null                            ┆ null          ┆ null     ┆ null │
│ National Bureau of Statistics,… ┆ null          ┆ null     ┆ null │
│ http://southsudan.opendatafora… ┆ null          ┆ null     ┆ null │
└─────────────────────────────────┴───────────────┴──────────┴──────┘

In [30]:
# Removing rows with missing values - by negating the condition
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .filter(~pl.col('Age Name').is_null())
)

shape: (450, 4)
┌───────────────────┬─────────────────────────────┬──────────┬────────┐
│ Region Name       ┆ Variable Name               ┆ Age Name ┆ 2008   │
│ ---               ┆ ---                         ┆ ---      ┆ ---    │
│ str               ┆ str                         ┆ str      ┆ i64    │
╞═══════════════════╪═════════════════════════════╪══════════╪════════╡
│ Upper Nile        ┆ Population, Total (Number)  ┆ Total    ┆ 964353 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 0 to 4   ┆ 150872 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 5 to 9   ┆ 151467 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 10 to 14 ┆ 126140 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 15 to 19 ┆ 103804 │
│ …                 ┆ …                           ┆ …        ┆ …      │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 45 to 49 ┆ 13727  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 50 to 54 ┆ 9482   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 55 to 59 ┆ 5740   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 60 to 64 ┆ 5274   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 65+      ┆ 8637   │
└───────────────────┴─────────────────────────────┴──────────┴────────┘

In [31]:
# Removing rows with missing values - using .is_not_null() method
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .filter(pl.col('Age Name').is_not_null())
)

shape: (450, 4)
┌───────────────────┬─────────────────────────────┬──────────┬────────┐
│ Region Name       ┆ Variable Name               ┆ Age Name ┆ 2008   │
│ ---               ┆ ---                         ┆ ---      ┆ ---    │
│ str               ┆ str                         ┆ str      ┆ i64    │
╞═══════════════════╪═════════════════════════════╪══════════╪════════╡
│ Upper Nile        ┆ Population, Total (Number)  ┆ Total    ┆ 964353 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 0 to 4   ┆ 150872 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 5 to 9   ┆ 151467 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 10 to 14 ┆ 126140 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 15 to 19 ┆ 103804 │
│ …                 ┆ …                           ┆ …        ┆ …      │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 45 to 49 ┆ 13727  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 50 to 54 ┆ 9482   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 55 to 59 ┆ 5740   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 60 to 64 ┆ 5274   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 65+      ┆ 8637   │
└───────────────────┴─────────────────────────────┴──────────┴────────┘

In [32]:
# Removing rows with missing values - using .drop_null() method
(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .drop_nulls()
)

shape: (450, 4)
┌───────────────────┬─────────────────────────────┬──────────┬────────┐
│ Region Name       ┆ Variable Name               ┆ Age Name ┆ 2008   │
│ ---               ┆ ---                         ┆ ---      ┆ ---    │
│ str               ┆ str                         ┆ str      ┆ i64    │
╞═══════════════════╪═════════════════════════════╪══════════╪════════╡
│ Upper Nile        ┆ Population, Total (Number)  ┆ Total    ┆ 964353 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 0 to 4   ┆ 150872 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 5 to 9   ┆ 151467 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 10 to 14 ┆ 126140 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 15 to 19 ┆ 103804 │
│ …                 ┆ …                           ┆ …        ┆ …      │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 45 to 49 ┆ 13727  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 50 to 54 ┆ 9482   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 55 to 59 ┆ 5740   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 60 to 64 ┆ 5274   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 65+      ┆ 8637   │
└───────────────────┴─────────────────────────────┴──────────┴────────┘

## Using the .when() Method
We can also use the .when() method to relabel or replace row values. This code snippet illustrates how to add new column 'former_region' with the .when() function.

In [33]:
# Relabeling string values with .when() method
print(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .drop_nulls()
    .with_columns(former_region=pl.when(pl.col('Region Name').is_in(['Upper Nile', 'Unity', 'Jonglei']))
                                .then(pl.lit('Greater Upper Nile'))
                                .when(pl.col('Region Name').str.ends_with('Equatoria'))
                                .then(pl.lit('Greater Equatoria'))
                                .when(pl.col('Region Name').str.contains('Ghazal'))
                                .then(pl.lit('Greater Bahr el Ghazal'))
                                .otherwise(pl.lit('Greater Bahr el Ghazal'))
    )
)

shape: (450, 5)
┌───────────────────┬─────────────────────────────┬──────────┬────────┬────────────────────┐
│ Region Name       ┆ Variable Name               ┆ Age Name ┆ 2008   ┆ former_region      │
│ ---               ┆ ---                         ┆ ---      ┆ ---    ┆ ---                │
│ str               ┆ str                         ┆ str      ┆ i64    ┆ str                │
╞═══════════════════╪═════════════════════════════╪══════════╪════════╪════════════════════╡
│ Upper Nile        ┆ Population, Total (Number)  ┆ Total    ┆ 964353 ┆ Greater Upper Nile │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 0 to 4   ┆ 150872 ┆ Greater Upper Nile │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 5 to 9   ┆ 151467 ┆ Greater Upper Nile │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 10 to 14 ┆ 126140 ┆ Greater Upper Nile │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 15 to 19 ┆ 103804 ┆ Greater Upper Nile │
│ …                 ┆ …                           ┆ …        ┆ …      ┆ …                  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 45 to 49 ┆ 13727  ┆ Greater Equatoria  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 50 to 54 ┆ 9482   ┆ Greater Equatoria  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 55 to 59 ┆ 5740   ┆ Greater Equatoria  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 60 to 64 ┆ 5274   ┆ Greater Equatoria  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 65+      ┆ 8637   ┆ Greater Equatoria  │
└───────────────────┴─────────────────────────────┴──────────┴────────┴────────────────────┘

## Renaming Columns

In [34]:
# Renaming columns
print(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .drop_nulls()
    .with_columns(former_region=pl.when(pl.col('Region Name').is_in(['Upper Nile', 'Unity', 'Jonglei']))
                                .then(pl.lit('Greater Upper Nile'))
                                .when(pl.col('Region Name').str.ends_with('Equatoria'))
                                .then(pl.lit('Greater Equatoria'))
                                .when(pl.col('Region Name').str.contains('Ghazal'))
                                .then(pl.lit('Greater Bahr el Ghazal'))
                                .otherwise(pl.lit('Greater Bahr el Ghazal'))
    )
    .rename({'Region Name': 'state',
            'Variable Name': 'gender',
            'Age Name': 'age_category',
            '2008': 'population',
    })
)

shape: (450, 5)
┌───────────────────┬─────────────────────────────┬──────────────┬────────────┬────────────────────┐
│ state             ┆ gender                      ┆ age_category ┆ population ┆ former_region      │
│ ---               ┆ ---                         ┆ ---          ┆ ---        ┆ ---                │
│ str               ┆ str                         ┆ str          ┆ i64        ┆ str                │
╞═══════════════════╪═════════════════════════════╪══════════════╪════════════╪════════════════════╡
│ Upper Nile        ┆ Population, Total (Number)  ┆ Total        ┆ 964353     ┆ Greater Upper Nile │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 0 to 4       ┆ 150872     ┆ Greater Upper Nile │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 5 to 9       ┆ 151467     ┆ Greater Upper Nile │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 10 to 14     ┆ 126140     ┆ Greater Upper Nile │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 15 to 19     ┆ 103804     ┆ Greater Upper Nile │
│ …                 ┆ …                           ┆ …            ┆ …          ┆ …                  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 45 to 49     ┆ 13727      ┆ Greater Equatoria  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 50 to 54     ┆ 9482       ┆ Greater Equatoria  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 55 to 59     ┆ 5740       ┆ Greater Equatoria  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 60 to 64     ┆ 5274       ┆ Greater Equatoria  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 65+          ┆ 8637       ┆ Greater Equatoria  │
└───────────────────┴─────────────────────────────┴──────────────┴────────────┴────────────────────┘

In [35]:
# Transforming column names
print(
    census_raw
    .select(['Region Name', 'Variable Name', 'Age Name', '2008'])
    .drop_nulls()
    .rename(lambda c: c.lower().replace(' ', '_'))
)

shape: (450, 4)
┌───────────────────┬─────────────────────────────┬──────────┬────────┐
│ region_name       ┆ variable_name               ┆ age_name ┆ 2008   │
│ ---               ┆ ---                         ┆ ---      ┆ ---    │
│ str               ┆ str                         ┆ str      ┆ i64    │
╞═══════════════════╪═════════════════════════════╪══════════╪════════╡
│ Upper Nile        ┆ Population, Total (Number)  ┆ Total    ┆ 964353 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 0 to 4   ┆ 150872 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 5 to 9   ┆ 151467 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 10 to 14 ┆ 126140 │
│ Upper Nile        ┆ Population, Total (Number)  ┆ 15 to 19 ┆ 103804 │
│ …                 ┆ …                           ┆ …        ┆ …      │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 45 to 49 ┆ 13727  │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 50 to 54 ┆ 9482   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 55 to 59 ┆ 5740   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 60 to 64 ┆ 5274   │
│ Eastern Equatoria ┆ Population, Female (Number) ┆ 65+      ┆ 8637   │
└───────────────────┴─────────────────────────────┴──────────┴────────┘

# Putting It Together
In the upcoming code snippets, I will consolidate all the steps and elaborate on the methods I have not yet covered.

In [36]:
# Selecting desired rows
old_cats = ['0 to 4', '5 to 9', '10 to 14', 
            '15 to 19', '20 to 24', 
            '25 to 29', '30 to 34', 
            '35 to 39', '40 to 44',
            '45 to 49', '50 to 54',
            '55 to 59', '60 to 64',
            '65+'
            ]
new_cats = ['0-14', '0-14', '0-14',
            '15-24', '15-24',
            '25-34', '25-34',
            '35-44', '35-44',
            '45-54', '45-54',
            '55-64', '55-64',
            '65 and above'
            ]
print(
    census_raw
    .select(cs.ends_with('Name'), '2008')
    .with_columns(
        gender=pl.col('Variable Name').str.replace_many(['Population, ', ' (Number)'], '',),
        category=pl.col('Age Name').replace(old_cats, new_cats)
    )
    .select(pl.col('*').exclude(['Variable Name', 'Age Name']))
    .filter(~((pl.col('gender') == 'Total') | (pl.col('category') == 'Total')))
     .drop_nulls()
    .rename({'Region Name': 'state', '2008': 'population'})
    .with_columns(former_region=pl.when(pl.col('state').is_in(['Upper Nile', 'Unity', 'Jonglei']))
                                .then(pl.lit('Greater Upper Nile'))
                                .when(pl.col('state').str.ends_with('Equatoria'))
                                .then(pl.lit('Greater Equatoria'))
                                .when(pl.col('state').str.contains('Ghazal'))
                                .then(pl.lit('Greater Bahr el Ghazal'))
                                .otherwise(pl.lit('Greater Bahr el Ghazal'))
    )
    .group_by(['former_region', 'state', 'gender', 'category'])
    .agg(total=pl.col('population').sum())
    .sort('total', descending=True)
)

shape: (140, 5)
┌────────────────────────┬────────────────────────┬────────┬──────────────┬────────┐
│ former_region          ┆ state                  ┆ gender ┆ category     ┆ total  │
│ ---                    ┆ ---                    ┆ ---    ┆ ---          ┆ ---    │
│ str                    ┆ str                    ┆ str    ┆ str          ┆ i64    │
╞════════════════════════╪════════════════════════╪════════╪══════════════╪════════╡
│ Greater Upper Nile     ┆ Jonglei                ┆ Male   ┆ 0-14         ┆ 338443 │
│ Greater Upper Nile     ┆ Jonglei                ┆ Female ┆ 0-14         ┆ 263646 │
│ Greater Equatoria      ┆ Central Equatoria      ┆ Male   ┆ 0-14         ┆ 242247 │
│ Greater Upper Nile     ┆ Upper Nile             ┆ Male   ┆ 0-14         ┆ 237461 │
│ Greater Bahr el Ghazal ┆ Warrap                 ┆ Male   ┆ 0-14         ┆ 230854 │
│ …                      ┆ …                      ┆ …      ┆ …            ┆ …      │
│ Greater Bahr el Ghazal ┆ Lakes                  ┆ Female ┆ 65 and above ┆ 6396   │
│ Greater Bahr el Ghazal ┆ Western Bahr el Ghazal ┆ Male   ┆ 55-64        ┆ 4981   │
│ Greater Bahr el Ghazal ┆ Western Bahr el Ghazal ┆ Male   ┆ 65 and above ┆ 4171   │
│ Greater Bahr el Ghazal ┆ Western Bahr el Ghazal ┆ Female ┆ 55-64        ┆ 4079   │
│ Greater Bahr el Ghazal ┆ Western Bahr el Ghazal ┆ Female ┆ 65 and above ┆ 3527   │
└────────────────────────┴────────────────────────┴────────┴──────────────┴────────┘

# Converting the Code into a Function

In [37]:
# Write a function for cleaning and transforming South Sudan census data
def tweak_census(df, grouping_cols, condition):
    """
    Cleans and transforms South Sudan census data.

    This function processes a DataFrame containing South Sudan census data by:
    - Selecting relevant columns
    - Renaming and recategorizing age groups
    - Filtering rows based on a given condition
    - Handling null values
    - Renaming columns for clarity
    - Adding a new column to categorize regions
    - Grouping data by specified columns
    - Aggregating population counts
    - Sorting the results in descending order of total population

    Parameters:
    df (pl.DataFrame): The input DataFrame containing South Sudan census data.
    grouping_cols (list): A list of column names to group by.
    condition (pl.Expr): A condition to filter the DataFrame.

    Returns:
    pl.DataFrame: A transformed DataFrame with aggregated population counts, grouped by specified columns, and sorted by total population.
    """
    old_cats = ['0 to 4', '5 to 9', '10 to 14', 
                '15 to 19', '20 to 24', 
                '25 to 29', '30 to 34', 
                '35 to 39', '40 to 44',
                '45 to 49', '50 to 54',
                '55 to 59', '60 to 64',
                '65+'
               ]
    new_cats = ['0-14', '0-14', '0-14',
                '15-24', '15-24',
                '25-34', '25-34',
                '35-44', '35-44',
                '45-54', '45-54',
                '55-64', '55-64',
                '65 and above'
               ]
    return (
        df
        .select(cs.ends_with('Name'), '2008')
        .with_columns(
            gender=pl.col('Variable Name').str.replace_many(['Population, ', ' (Number)'], ''),
            category=pl.col('Age Name').replace(old_cats, new_cats)
        )
        .select(pl.col('*').exclude(['Variable Name', 'Age Name']))
        .filter(condition)
        .drop_nulls()
        .rename({'Region Name': 'state', '2008': 'population'})
        .with_columns(former_region=pl.when(pl.col('state').is_in(['Upper Nile', 'Unity', 'Jonglei']))
                                    .then(pl.lit('Greater Upper Nile'))
                                    .when(pl.col('state').str.ends_with('Equatoria'))
                                    .then(pl.lit('Greater Equatoria'))
                                    .when(pl.col('state').str.contains('Ghazal'))
                                    .then(pl.lit('Greater Bahr el Ghazal'))
                                    .otherwise(pl.lit('Greater Bahr el Ghazal'))
        )
        .group_by(grouping_cols)
        .agg(total=pl.col('population').sum())
        .sort('total', descending=True)
    )

In [38]:
# Test the new function
print(
    tweak_census(
    census_raw, 
    grouping_cols=['former_region', 'state', 'gender', 'category'], 
    condition=~((pl.col('gender') == 'Total') | (pl.col('category') == 'Total')) 
    )
)

shape: (140, 5)
┌────────────────────────┬────────────────────────┬────────┬──────────────┬────────┐
│ former_region          ┆ state                  ┆ gender ┆ category     ┆ total  │
│ ---                    ┆ ---                    ┆ ---    ┆ ---          ┆ ---    │
│ str                    ┆ str                    ┆ str    ┆ str          ┆ i64    │
╞════════════════════════╪════════════════════════╪════════╪══════════════╪════════╡
│ Greater Upper Nile     ┆ Jonglei                ┆ Male   ┆ 0-14         ┆ 338443 │
│ Greater Upper Nile     ┆ Jonglei                ┆ Female ┆ 0-14         ┆ 263646 │
│ Greater Equatoria      ┆ Central Equatoria      ┆ Male   ┆ 0-14         ┆ 242247 │
│ Greater Upper Nile     ┆ Upper Nile             ┆ Male   ┆ 0-14         ┆ 237461 │
│ Greater Bahr el Ghazal ┆ Warrap                 ┆ Male   ┆ 0-14         ┆ 230854 │
│ …                      ┆ …                      ┆ …      ┆ …            ┆ …      │
│ Greater Bahr el Ghazal ┆ Lakes                  ┆ Female ┆ 65 and above ┆ 6396   │
│ Greater Bahr el Ghazal ┆ Western Bahr el Ghazal ┆ Male   ┆ 55-64        ┆ 4981   │
│ Greater Bahr el Ghazal ┆ Western Bahr el Ghazal ┆ Male   ┆ 65 and above ┆ 4171   │
│ Greater Bahr el Ghazal ┆ Western Bahr el Ghazal ┆ Female ┆ 55-64        ┆ 4079   │
│ Greater Bahr el Ghazal ┆ Western Bahr el Ghazal ┆ Female ┆ 65 and above ┆ 3527   │
└────────────────────────┴────────────────────────┴────────┴──────────────┴────────┘

# Tabulating Data with the Great Tables Package

In [48]:
# Summarize data by state
state = (
    tweak_census(
    census_raw, 
    grouping_cols=['former_region', 'state', 'gender', 'category'], 
    condition=~((pl.col('gender') == 'Total') | (pl.col('category') == 'Total')) 
    )
    .group_by(['former_region', 'state', 'gender'])
    .agg(total=pl.col('total').sum())
    .sort('total', descending=True)
    .pivot(index=['former_region', 'state'], columns='gender', values='total')
)

# Dispay output
print(state)

shape: (10, 4)
┌────────────────────────┬─────────────────────────┬────────┬────────┐
│ former_region          ┆ state                   ┆ Male   ┆ Female │
│ ---                    ┆ ---                     ┆ ---    ┆ ---    │
│ str                    ┆ str                     ┆ i64    ┆ i64    │
╞════════════════════════╪═════════════════════════╪════════╪════════╡
│ Greater Upper Nile     ┆ Jonglei                 ┆ 734327 ┆ 624275 │
│ Greater Equatoria      ┆ Central Equatoria       ┆ 581722 ┆ 521835 │
│ Greater Upper Nile     ┆ Upper Nile              ┆ 525430 ┆ 438923 │
│ Greater Bahr el Ghazal ┆ Warrap                  ┆ 470734 ┆ 502194 │
│ Greater Equatoria      ┆ Eastern Equatoria       ┆ 465187 ┆ 440974 │
│ Greater Bahr el Ghazal ┆ Northern Bahr el Ghazal ┆ 348290 ┆ 372608 │
│ Greater Bahr el Ghazal ┆ Lakes                   ┆ 365880 ┆ 329850 │
│ Greater Equatoria      ┆ Western Equatoria       ┆ 318443 ┆ 300586 │
│ Greater Upper Nile     ┆ Unity                   ┆ 300247 ┆ 285554 │
│ Greater Bahr el Ghazal ┆ Western Bahr el Ghazal  ┆ 177040 ┆ 156391 │
└────────────────────────┴─────────────────────────┴────────┴────────┘

In [55]:
# Tabulate state data frame
(
    GT(state, rowname_col='state', groupname_col='former_region')
    .tab_header(
        title='Jonglei State leads with over 13.6 million persons',
        subtitle=md(
            'Western Bahr el Ghazal State has the lowest <br>population according to the 2008 census'
        )
    )
    .fmt_integer(columns=cs.integer(), use_seps=True)
    .opt_align_table_header(align="left")
    .cols_label(state='State')
    .tab_source_note(source_note=html('<a href="http://southsudan.opendataforafrica.org/fvjqdpe/population-by-age-and-sex-2008-south-sudan"><strong>2008 Census: National Bureau of Statistics, South Sudan</strong></a>'))
)

GT(_tbl_data=shape: (10, 4)
┌────────────────────────┬─────────────────────────┬────────┬────────┐
│ former_region          ┆ state                   ┆ Male   ┆ Female │
│ ---                    ┆ ---                     ┆ ---    ┆ ---    │
│ str                    ┆ str                     ┆ i64    ┆ i64    │
╞════════════════════════╪═════════════════════════╪════════╪════════╡
│ Greater Upper Nile     ┆ Jonglei                 ┆ 734327 ┆ 624275 │
│ Greater Equatoria      ┆ Central Equatoria       ┆ 581722 ┆ 521835 │
│ Greater Upper Nile     ┆ Upper Nile              ┆ 525430 ┆ 438923 │
│ Greater Bahr el Ghazal ┆ Warrap                  ┆ 470734 ┆ 502194 │
│ Greater Equatoria      ┆ Eastern Equatoria       ┆ 465187 ┆ 440974 │
│ Greater Bahr el Ghazal ┆ Northern Bahr el Ghazal ┆ 348290 ┆ 372608 │
│ Greater Bahr el Ghazal ┆ Lakes                   ┆ 365880 ┆ 329850 │
│ Greater Equatoria      ┆ Western Equatoria       ┆ 318443 ┆ 300586 │
│ Greater Upper Nile     ┆ Unity                   ┆ 300247 ┆ 285554 │
│ Greater Bahr el Ghazal ┆ Western Bahr el Ghazal  ┆ 177040 ┆ 156391 │
└────────────────────────┴─────────────────────────┴────────┴────────┘, _body=<great_tables._gt_data.Body object at 0x105449340>, _boxhead=Boxhead([ColInfo(var='former_region', type=<ColInfoTypeEnum.row_group: 3>, column_label='former_region', column_align='left', column_width=None), ColInfo(var='state', type=<ColInfoTypeEnum.stub: 2>, column_label='State', column_align='left', column_width=None), ColInfo(var='Male', type=<ColInfoTypeEnum.default: 1>, column_label='Male', column_align='right', column_width=None), ColInfo(var='Female', type=<ColInfoTypeEnum.default: 1>, column_label='Female', column_align='right', column_width=None)]), _stub=Stub([RowInfo(rownum_i=0, group_id='Greater Upper Nile', rowname='Jonglei', group_label=None, built=False), RowInfo(rownum_i=1, group_id='Greater Equatoria', rowname='Central Equatoria', group_label=None, built=False), RowInfo(rownum_i=2, group_id='Greater Upper Nile', rowname='Upper Nile', group_label=None, built=False), RowInfo(rownum_i=3, group_id='Greater Bahr el Ghazal', rowname='Warrap', group_label=None, built=False), RowInfo(rownum_i=4, group_id='Greater Equatoria', rowname='Eastern Equatoria', group_label=None, built=False), RowInfo(rownum_i=5, group_id='Greater Bahr el Ghazal', rowname='Northern Bahr el Ghazal', group_label=None, built=False), RowInfo(rownum_i=6, group_id='Greater Bahr el Ghazal', rowname='Lakes', group_label=None, built=False), RowInfo(rownum_i=7, group_id='Greater Equatoria', rowname='Western Equatoria', group_label=None, built=False), RowInfo(rownum_i=8, group_id='Greater Upper Nile', rowname='Unity', group_label=None, built=False), RowInfo(rownum_i=9, group_id='Greater Bahr el Ghazal', rowname='Western Bahr el Ghazal', group_label=None, built=False)]), _row_groups=['Greater Upper Nile', 'Greater Equatoria', 'Greater Bahr el Ghazal'], _group_rows=GroupRows([GroupRowInfo(group_id='Greater Upper Nile', group_label=None, indices=[0, 2, 8], has_summary_rows=False, summary_row_side=None), GroupRowInfo(group_id='Greater Equatoria', group_label=None, indices=[1, 4, 7], has_summary_rows=False, summary_row_side=None), GroupRowInfo(group_id='Greater Bahr el Ghazal', group_label=None, indices=[3, 5, 6, 9], has_summary_rows=False, summary_row_side=None)]), _spanners=Spanners([]), _heading=Heading(title='Jonglei State leads with over 13.6 million persons', subtitle=Text(text='Western Bahr el Ghazal State has the lowest <br>population according to the 2008 census', type='from_markdown'), preheader=None), _stubhead=None, _source_notes=[Text(text='<a href="http://southsudan.opendataforafrica.org/fvjqdpe/population-by-age-and-sex-2008-south-sudan"><strong>2008 Census: National Bureau of Statistics, South Sudan</strong></a>', type='html')], _footnotes=[], _styles=[], _locale=<great_tables._gt_data.Locale object at 0x121c5e7e0>, _formats=[<great_tables._gt_data.FormatInfo object at 0x121cbe2d0>], _substitutions=[], _options=Options(table_id=OptionsInfo(scss=False, category='table', type='value', value=None), table_caption=OptionsInfo(scss=False, category='table', type='value', value=None), table_width=OptionsInfo(scss=True, category='table', type='px', value='auto'), table_layout=OptionsInfo(scss=True, category='table', type='value', value='fixed'), table_margin_left=OptionsInfo(scss=True, category='table', type='px', value='auto'), table_margin_right=OptionsInfo(scss=True, category='table', type='px', value='auto'), table_background_color=OptionsInfo(scss=True, category='table', type='value', value='#FFFFFF'), table_font_names=OptionsInfo(scss=False, category='table', type='values', value=['-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue', 'Fira Sans', 'Droid Sans', 'Arial', 'sans-serif']), table_font_size=OptionsInfo(scss=True, category='table', type='px', value='16px'), table_font_weight=OptionsInfo(scss=True, category='table', type='value', value='normal'), table_font_style=OptionsInfo(scss=True, category='table', type='value', value='normal'), table_font_color=OptionsInfo(scss=True, category='table', type='value', value='#333333'), table_font_color_light=OptionsInfo(scss=True, category='table', type='value', value='#FFFFFF'), table_border_top_include=OptionsInfo(scss=False, category='table', type='boolean', value=True), table_border_top_style=OptionsInfo(scss=True, category='table', type='value', value='solid'), table_border_top_width=OptionsInfo(scss=True, category='table', type='px', value='2px'), table_border_top_color=OptionsInfo(scss=True, category='table', type='value', value='#A8A8A8'), table_border_right_style=OptionsInfo(scss=True, category='table', type='value', value='none'), table_border_right_width=OptionsInfo(scss=True, category='table', type='px', value='2px'), table_border_right_color=OptionsInfo(scss=True, category='table', type='value', value='#D3D3D3'), table_border_bottom_include=OptionsInfo(scss=False, category='table', type='boolean', value=True), table_border_bottom_style=OptionsInfo(scss=True, category='table', type='value', value='solid'), table_border_bottom_width=OptionsInfo(scss=True, category='table', type='px', value='2px'), table_border_bottom_color=OptionsInfo(scss=True, category='table', type='value', value='#A8A8A8'), table_border_left_style=OptionsInfo(scss=True, category='table', type='value', value='none'), table_border_left_width=OptionsInfo(scss=True, category='table', type='px', value='2px'), table_border_left_color=OptionsInfo(scss=True, category='table', type='value', value='#D3D3D3'), heading_background_color=OptionsInfo(scss=True, category='heading', type='value', value=None), heading_align=OptionsInfo(scss=True, category='heading', type='value', value='left'), heading_title_font_size=OptionsInfo(scss=True, category='heading', type='px', value='125%'), heading_title_font_weight=OptionsInfo(scss=True, category='heading', type='value', value='initial'), heading_subtitle_font_size=OptionsInfo(scss=True, category='heading', type='px', value='85%'), heading_subtitle_font_weight=OptionsInfo(scss=True, category='heading', type='value', value='initial'), heading_padding=OptionsInfo(scss=True, category='heading', type='px', value='4px'), heading_padding_horizontal=OptionsInfo(scss=True, category='heading', type='px', value='5px'), heading_border_bottom_style=OptionsInfo(scss=True, category='heading', type='value', value='solid'), heading_border_bottom_width=OptionsInfo(scss=True, category='heading', type='px', value='2px'), heading_border_bottom_color=OptionsInfo(scss=True, category='heading', type='value', value='#D3D3D3'), heading_border_lr_style=OptionsInfo(scss=True, category='heading', type='value', value='none'), heading_border_lr_width=OptionsInfo(scss=True, category='heading', type='px', value='1px'), heading_border_lr_color=OptionsInfo(scss=True, category='heading', type='value', value='#D3D3D3'), column_labels_background_color=OptionsInfo(scss=True, category='column_labels', type='value', value=None), column_labels_font_size=OptionsInfo(scss=True, category='column_labels', type='px', value='100%'), column_labels_font_weight=OptionsInfo(scss=True, category='column_labels', type='value', value='normal'), column_labels_text_transform=OptionsInfo(scss=True, category='column_labels', type='value', value='inherit'), column_labels_padding=OptionsInfo(scss=True, category='column_labels', type='px', value='5px'), column_labels_padding_horizontal=OptionsInfo(scss=True, category='column_labels', type='px', value='5px'), column_labels_vlines_style=OptionsInfo(scss=True, category='table_body', type='value', value='none'), column_labels_vlines_width=OptionsInfo(scss=True, category='table_body', type='px', value='1px'), column_labels_vlines_color=OptionsInfo(scss=True, category='table_body', type='value', value='#D3D3D3'), column_labels_border_top_style=OptionsInfo(scss=True, category='column_labels', type='value', value='solid'), column_labels_border_top_width=OptionsInfo(scss=True, category='column_labels', type='px', value='2px'), column_labels_border_top_color=OptionsInfo(scss=True, category='column_labels', type='value', value='#D3D3D3'), column_labels_border_bottom_style=OptionsInfo(scss=True, category='column_labels', type='value', value='solid'), column_labels_border_bottom_width=OptionsInfo(scss=True, category='column_labels', type='px', value='2px'), column_labels_border_bottom_color=OptionsInfo(scss=True, category='column_labels', type='value', value='#D3D3D3'), column_labels_border_lr_style=OptionsInfo(scss=True, category='column_labels', type='value', value='none'), column_labels_border_lr_width=OptionsInfo(scss=True, category='column_labels', type='px', value='1px'), column_labels_border_lr_color=OptionsInfo(scss=True, category='column_labels', type='value', value='#D3D3D3'), column_labels_hidden=OptionsInfo(scss=False, category='column_labels', type='boolean', value=False), row_group_background_color=OptionsInfo(scss=True, category='row_group', type='value', value=None), row_group_font_size=OptionsInfo(scss=True, category='row_group', type='px', value='100%'), row_group_font_weight=OptionsInfo(scss=True, category='row_group', type='value', value='initial'), row_group_text_transform=OptionsInfo(scss=True, category='row_group', type='value', value='inherit'), row_group_padding=OptionsInfo(scss=True, category='row_group', type='px', value='8px'), row_group_padding_horizontal=OptionsInfo(scss=True, category='row_group', type='px', value='5px'), row_group_border_top_style=OptionsInfo(scss=True, category='row_group', type='value', value='solid'), row_group_border_top_width=OptionsInfo(scss=True, category='row_group', type='px', value='2px'), row_group_border_top_color=OptionsInfo(scss=True, category='row_group', type='value', value='#D3D3D3'), row_group_border_right_style=OptionsInfo(scss=True, category='row_group', type='value', value='none'), row_group_border_right_width=OptionsInfo(scss=True, category='row_group', type='px', value='1px'), row_group_border_right_color=OptionsInfo(scss=True, category='row_group', type='value', value='#D3D3D3'), row_group_border_bottom_style=OptionsInfo(scss=True, category='row_group', type='value', value='solid'), row_group_border_bottom_width=OptionsInfo(scss=True, category='row_group', type='px', value='2px'), row_group_border_bottom_color=OptionsInfo(scss=True, category='row_group', type='value', value='#D3D3D3'), row_group_border_left_style=OptionsInfo(scss=True, category='row_group', type='value', value='none'), row_group_border_left_width=OptionsInfo(scss=True, category='row_group', type='px', value='1px'), row_group_border_left_color=OptionsInfo(scss=True, category='row_group', type='value', value='#D3D3D3'), row_group_as_column=OptionsInfo(scss=False, category='row_group', type='boolean', value=False), table_body_hlines_style=OptionsInfo(scss=True, category='table_body', type='value', value='solid'), table_body_hlines_width=OptionsInfo(scss=True, category='table_body', type='px', value='1px'), table_body_hlines_color=OptionsInfo(scss=True, category='table_body', type='value', value='#D3D3D3'), table_body_vlines_style=OptionsInfo(scss=True, category='table_body', type='value', value='none'), table_body_vlines_width=OptionsInfo(scss=True, category='table_body', type='px', value='1px'), table_body_vlines_color=OptionsInfo(scss=True, category='table_body', type='value', value='#D3D3D3'), table_body_border_top_style=OptionsInfo(scss=True, category='table_body', type='value', value='solid'), table_body_border_top_width=OptionsInfo(scss=True, category='table_body', type='px', value='2px'), table_body_border_top_color=OptionsInfo(scss=True, category='table_body', type='value', value='#D3D3D3'), table_body_border_bottom_style=OptionsInfo(scss=True, category='table_body', type='value', value='solid'), table_body_border_bottom_width=OptionsInfo(scss=True, category='table_body', type='px', value='2px'), table_body_border_bottom_color=OptionsInfo(scss=True, category='table_body', type='value', value='#D3D3D3'), data_row_padding=OptionsInfo(scss=True, category='data_row', type='px', value='8px'), data_row_padding_horizontal=OptionsInfo(scss=True, category='data_row', type='px', value='5px'), stub_background_color=OptionsInfo(scss=True, category='stub', type='value', value=None), stub_font_size=OptionsInfo(scss=True, category='stub', type='px', value='100%'), stub_font_weight=OptionsInfo(scss=True, category='stub', type='value', value='initial'), stub_text_transform=OptionsInfo(scss=True, category='stub', type='value', value='inherit'), stub_border_style=OptionsInfo(scss=True, category='stub', type='value', value='solid'), stub_border_width=OptionsInfo(scss=True, category='stub', type='px', value='2px'), stub_border_color=OptionsInfo(scss=True, category='stub', type='value', value='#D3D3D3'), stub_row_group_background_color=OptionsInfo(scss=True, category='stub', type='value', value=None), stub_row_group_font_size=OptionsInfo(scss=True, category='stub', type='px', value='100%'), stub_row_group_font_weight=OptionsInfo(scss=True, category='stub', type='value', value='initial'), stub_row_group_text_transform=OptionsInfo(scss=True, category='stub', type='value', value='inherit'), stub_row_group_border_style=OptionsInfo(scss=True, category='stub', type='value', value='solid'), stub_row_group_border_width=OptionsInfo(scss=True, category='stub', type='px', value='2px'), stub_row_group_border_color=OptionsInfo(scss=True, category='stub', type='value', value='#D3D3D3'), source_notes_padding=OptionsInfo(scss=True, category='source_notes', type='px', value='4px'), source_notes_padding_horizontal=OptionsInfo(scss=True, category='source_notes', type='px', value='5px'), source_notes_background_color=OptionsInfo(scss=True, category='source_notes', type='value', value=None), source_notes_font_size=OptionsInfo(scss=True, category='source_notes', type='px', value='90%'), source_notes_border_bottom_style=OptionsInfo(scss=True, category='source_notes', type='value', value='none'), source_notes_border_bottom_width=OptionsInfo(scss=True, category='source_notes', type='px', value='2px'), source_notes_border_bottom_color=OptionsInfo(scss=True, category='source_notes', type='value', value='#D3D3D3'), source_notes_border_lr_style=OptionsInfo(scss=True, category='source_notes', type='value', value='none'), source_notes_border_lr_width=OptionsInfo(scss=True, category='source_notes', type='px', value='2px'), source_notes_border_lr_color=OptionsInfo(scss=True, category='source_notes', type='value', value='#D3D3D3'), source_notes_multiline=OptionsInfo(scss=False, category='source_notes', type='boolean', value=True), source_notes_sep=OptionsInfo(scss=False, category='source_notes', type='value', value=' '), container_width=OptionsInfo(scss=False, category='container', type='px', value='auto'), container_height=OptionsInfo(scss=False, category='container', type='px', value='auto'), container_padding_x=OptionsInfo(scss=False, category='container', type='px', value='0px'), container_padding_y=OptionsInfo(scss=False, category='container', type='px', value='10px'), container_overflow_x=OptionsInfo(scss=False, category='container', type='overflow', value='auto'), container_overflow_y=OptionsInfo(scss=False, category='container', type='overflow', value='auto'), quarto_disable_processing=OptionsInfo(scss=False, category='quarto', type='logical', value=False), quarto_use_bootstrap=OptionsInfo(scss=False, category='quarto', type='logical', value=False)), _has_built=False)

In [54]:
# Save gt table as a png file
# GT.save(st_obj, file='img/state.png')